<!DOCTYPE html>
<html>
<head>
  <title>Article Builder</title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body style="padding-top: 0px">

<p class="notice"><%= notice %></p>
<p class="alert" style="height: auto"><%= alert %></p>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
